[Service]
Restart=on-failure
WorkingDirectory=/home/ec2-user/bot
ExecStart=/usr/bin/python3 gear_news_bot.py @gear_news 'Gear Feed''Gear SM Feed' '00:00' {{FREQ}} --count {{COUNT}} --force-init
EnvironmentFile=/home/ec2-user/bot/.env
