[Service]
Restart=on-failure
WorkingDirectory=/home/ec2-user/bot
ExecStart=/usr/bin/python3.8  /home/ec2-user/bot/gear_news_bot.py @gear_internal_news 'Gear News Feed' 'Gear SM Feed' '00:00' 2 --count 5 --force-init
EnvironmentFile=/home/ec2-user/bot/.env
